.photo-grid {
    margin: 0 48px 92px;    
}

@media (max-width: 1023px) {
    .photo-grid {
        margin: 0 24px 88px;
    }
}

@media (max-width: 767px) {
    .photo-grid {
        margin: 0 16px 64px;
    }
}