.header {
    margin: 28px 48px 56px;
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    max-width: 1184px;
}

@media (min-width : 1024px) {
	.header {
        margin: 28px 48px 48px;
    }
}

@media (min-width : 768px) {
	.header {
        margin: 28px 24px 48px;
    }
}