.footer__author {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

@media (max-width : 767px) {
    .footer__author {
        line-height: 14px;
        margin-top: 48px;
    }    
}