.place__url {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.2em;
    color: #AAAAAA;
}

@media (max-width: 1023px) {
    .place__url {
        line-height: 12px;
    }    
}