.place__website {
    grid-area: website;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

@media (max-width: 767px) {
    .place__website {
        margin: 0 16px;
    }
    
}